#heading {
   color: #6c448c;
font-size: 200px;
font-weight: normal;
font-style: italic;
text-decoration: underline;
font-family: "Kunstler Script","Blackadder ITC",sans-serif;
}

.background-purple{
  background-color: firebrick;
  color: white;
  opacity:0.6

}

/* Comment */

#box-model {
    border: yellow 5px double; 
 padding: 10px 30px;

}

ol{
   list-style: lower-alpha;
}

ul {
   list-style: square;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

th, td {
   padding: 5px;
}